/* CSS for Buttons */

.button-class {
	margin: 0 auto;
	padding: 10px 15px;
	width: 150px;
	display: block;
	border-radius: 8px;
	text-align: center;
	text-decoration: none;
}

.button-class:link { color: white; }
.button-class:visited { color: white; }
.button-class:hover { color: white; }

.edit-button { 
	margin: 15px auto 2px auto;
	background-color: #22A7F0; 
}
.edit-button:hover { background-color: #6BB9F0 }

.download-button { 
	margin: 2px auto;
	background-color: #2ECC71; 	
}
.download-button:hover { background-color: #87D37C; }

.upload-button {
	margin: 2px auto;
	background-color: #F2784B;
}

.upload-button:hover { background-color: #EB974E; }

.go-back-button {
	margin-top: 100px;
	margin-bottom: 50px;	
	background-color: #BDC3C7;
}

.go-back-button:hover { background-color: #DADFE1 }

/* Google Drive Button */
.save-to-drive-button {
	width: 15px;
	padding: 10px 15px;
	border-radius: 8px;
}

.jfk-button {
	width: 15px;
	padding: 10px 15px;
	border-radius: 8px;
}

.jfk-button-standard {
	width: 15px;
	padding: 10px 15px;
	border-radius: 8px;
}