/* CSS for 'contact.html' */

#contact-container {
	margin: 25px auto;
	padding: 10px;
	max-width: 960px;
}

#contact-text {
	color: #936A4A;
	font-family: "rucksack", sans-serif;	 
}

#contact-container a {
	text-decoration: none;
}

#contact-container p {
	font-size: 18px;	
}

#facebook-text {
	color: #3B5998;
}

#twitter-text {
	color: #00ACED;
}

#gmail-text {
	color: #DD4B39;
}