/* CSS for 'driveimage.html' */

#need-to-login-text {
	position: relative;
	max-width: 930px;
	margin: 0 auto;
	padding: 15px;
	color: #4183D7;
	background-color: #E4F1FE;
	border-radius: 8px;
	
	/* Fadeout effect */
	-webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.cursor-default {
	cursor: default;	
}

.cursor-wait {
	cursor: wait;	
}

#top-text {
	margin: 35px auto 0 auto;
	max-width: 960px;
	font-size: 18px;
	color: #00ACED;
	text-align: center;	
}

#image-list {
	padding: 0;
	margin: 25px auto 0 auto;
	max-width: 960px;
	list-style-type: none;
	text-align: center;
}

#image-list li {
	margin: 20px 10px;
	display: inline-block;
	width: 200px;
	height: auto;
	text-align: center;	
	vertical-align: top;
	/* If image name is to long */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.image-name {
	color: #4183D7; 
}

.thumbnail-frame {
	width: 200px;
	height: 200px;
	background-color: white;
}

.thumbnail-image {
	display: inline-block;
	max-width: 200px;
	max-height: 200px;
	vertical-align: middle;
}

.thumbnail-image:hover {
	cursor: pointer;
}

.thumbnail-image-opened {
	max-width: 100%;
	max-height: 100%;	
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}