/* CSS for 'driveimage.html' */

#top-text {
	max-width: 930px;
	margin: 0 auto;
	padding: 15px;
	color: #4183D7;
	background-color: #E4F1FE;
	border-radius: 8px;
}

#need-to-login-text {
	margin-top: 35px;
	font-size: 18px;
	color: #00ACED;
	text-align: center;	
}

#image-list {
	padding: 0;
	margin: 0 auto;
	max-width: 960px;
	list-style-type: none;
	/*border: 1px solid black;*/
	text-align: center;
}

#image-list li {
	margin: 5px;
	display: inline-block;
	width: 200px;
	height: 450px; /* 384 change this */
	/*border: 1px solid black;*/
	text-align: center;	
	vertical-align: middle;
}

.image-name {
	color: #4183D7;	
}

.thumbnail-image {
	width: 200px;
	height: 200px;
}