/* CSS for 'localimage.html' */

#image-container {
	margin: 0 auto;
	max-width: 960px;
	padding: 50px;
	/*border: 1px solid black;*/
	border-radius: 25px;
	text-align: center;	
}

#editable-image {
	/*border: 1px solid black;*/
}

/* 
 * Below CSS partially taken from: http://jsfiddle.net/gabrieleromanato/mxq9R/.
 * Some changes have been made.
 */
div.upload {
	margin: 0 auto 25px auto;
    width: 180px;
    height: 44px;
	border-radius: 10px;
	background-color: #22A7F0;
    overflow: hidden;
	cursor: pointer;
	color: white;
	padding-top: 20px;
}

div.upload input {
	margin: 0 auto 25px auto !important;
    display: block !important;
    width: 180px !important;
    height: 44px !important;
	border-radius: 10px !important;
    opacity: 0 !important;
    overflow: hidden !important;
	cursor: pointer !important;
}
/* ------------------------------------------------------------------------ */