/* CSS for 'localimage.html' */

#image-container {
	margin: 0 auto;
	max-width: 960px;
	padding: 50px;
	/*border: 1px solid black;*/
	border-radius: 25px;
	text-align: center;	
}

#close-window {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 26px;
	height: 26px;
}

#close-window:hover {
	cursor: pointer;
}

#step-by-step {
	position: relative;
	max-width: 930px;
	margin: 0 auto;
	padding: 15px;
	color: #4183D7;
	background-color: #E4F1FE;
	border-radius: 12px;
	
	/* Fadeout effect */
	-webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.fadeout {
	opacity: 0;
}

#step-by-step ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#step-by-step ul li {
	margin: 0;
	padding: 0;
	text-align: left;	
}

#editable-image {
	/*border: 1px solid black;*/
	max-width: 660px;
}

/* 
 * Below CSS partially taken from: http://jsfiddle.net/gabrieleromanato/mxq9R/.
 * Some changes have been made.
 */
div.upload {
	margin: 0 auto 25px auto;
    width: 180px;
    height: 44px;
	border-radius: 10px;
	background-color: #22A7F0;
    overflow: hidden;
	cursor: pointer;
	color: white;
	padding-top: 20px;
}

div.upload input {
	margin: 0 auto 25px auto !important;
    display: block !important;
    width: 180px !important;
    height: 44px !important;
	border-radius: 10px !important;
    opacity: 0 !important;
    overflow: hidden !important;
	cursor: pointer !important;
}
/* ------------------------------------------------------------------------ */