html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
	
	background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(bottom, #03C9A9, white, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #03C9A9, white, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #03C9A9, white, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(bottom, #03C9A9, white, white); /* Standard syntax (must be last) */
}

html, body {
    min-height: 100%
}

header {
	position: relative;
	background-color: #03A678;	
	color: white;
	padding: 15px;
}

#website-name {
	display: inline-block;	
}

.profile-image-show {
	display: inline;
	width: 60px;
	height: 60px;
	border-radius: 30px;	
}

.profile-image-hide {
	display: none;	
}

#profile-name {
	position: absolute;
	right: 10px;
	bottom: 5px;
}

.g-signin2 {
	position: absolute;
	top: 10px;
	right: 10px;
}

#signout-button {
	position: absolute;
	top: 50px;
	right: 10px;
}

#signout-button:link {
	text-decoration: none;
	color: white;
}

#signout-button:visited {
	color: white;
}

#signout-button:hover {
	color: white;
	text-decoration: underline;
}

nav {
	font-family: "lft-etica", sans-serif;
	font-weight: 900;
	font-size: 16px;
}

h1 {
	margin: 0;	
}

.main-topic {
	text-align: center;	
	color: #03C9A9;
	font-family: "lft-etica",sans-serif;
	font-weight: 900;
}

footer {
	text-align: center;
	color: #4183D7;
}

.footer-text {
	font-size: 18px;	
}

#copyright {
	margin-top: 35px;	
}

/* Footer Contact */
#contact-circles-container {
	text-align: center;	
}

.contact-circles {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: inline-block;	
	margin: 0 5px;
	
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	
	/* Expand-effect on Circle-buttons */
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#facebook-circle {
	background-color: #3B5998;
	background-image: url(../images/facebook_logo_white.png);
	background-size: 45%;
}

#facebook-circle:hover {
	background-size: 55%;
}

#twitter-circle {
	background-color: #00ACED;	
	background-image: url(../images/twitter_logo_white.png);
	background-size: 45%;
}

#twitter-circle:hover {
	background-size: 55%;
}

#google-circle {
	background-color: #DD4B39;
	background-image: url(../images/gmail_logo.png);
	background-size: 55%;
}

#google-circle:hover {
	background-size: 65%;
	cursor: pointer;
}

/* Success/Error messages */
#success-message,
#error-message {
	/* Fadeout effect */
	-webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.success-message-show {
	display: block;
	position: relative;
	max-width: 930px;
	margin: 10px auto;
	padding: 15px;
	color: #26A65B;
	background-color: #C8F7C5;
	border-radius: 12px;
}

.success-message-hide {
	display: none;
}

.error-message-show {
	display: block;
	position: relative;
	max-width: 930px;
	margin: 10px auto;
	padding: 15px;
	color: #D64541;
	background-color: #F1A9A0;
	border-radius: 12px;
}

.error-message-hide {
	display: none;
}

.fadeout {
	opacity: 0;
}

.close-message {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 26px;
	height: 26px;
}

.close-message:hover {
	cursor: pointer;
}